/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import 'izitoast/dist/css/iziToast.min.css';
@import 'simplelightbox/dist/simple-lightbox.min.css';

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 99vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.form {
  padding-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.search-input {
  font-family: inherit;
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  outline: none;
}
.search-input:hover {
  border: 1px solid #000;
}
.search-input:active,
.search-input:focus {
  color: #000;
  border: 1px solid #4e75ff;
}
.btn {
  font-family: inherit;
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.btn:hover,
.btn:focus {
  background: #6c8cff;
}
.load-more-btn {
  display: none;
}

.gallery {
  width: 1128px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
}
.gallery-item {
  width: 360px;
  height: 250px;
  padding-bottom: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item:hover {
  transform: scale(1.1);
}
.gallery-image {
  width: 360px;
  height: 200px;
}
.img-desc {
  width: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.sl-overlay {
  background: #2e2f42;
}
.sl-wrapper .sl-close,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-navigation button {
  color: #fff;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #4e75ff;
  border-radius: 50%;
  display: none;
  position: relative;
  animation: rotation 2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}